<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>config</servlet-name>
    <servlet-class>com.servlet.basics.ServletConfig</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>config</servlet-name>
    <url-pattern>/config1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>context</servlet-name>
    <servlet-class>com.servlet.basics.ServletContext</servlet-class>
  </servlet>
  <context-param>
    <param-name>username</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>admin@123</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.servlet.basics.oracleDriver</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>context</servlet-name>
    <url-pattern>/cont</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s1</servlet-name>
    <servlet-class>com.servlet.basics.SetAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/setAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s2</servlet-name>
    <servlet-class>com.servlet.basics.GetAttribute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/getAttribute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.servlet.basics.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/fun</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>welcome</servlet-name>
    <servlet-class>com.servlet.basics.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/wel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>com.servlet.basics.RequestDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/rDispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>redirect</servlet-name>
    <servlet-class>com.servlet.basics.Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/rredirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getcookie</servlet-name>
    <servlet-class>com.servlet.advanced.GetCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getcookie</servlet-name>
    <url-pattern>/fc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usecookie</servlet-name>
    <servlet-class>com.servlet.advanced.UseCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usecookie</servlet-name>
    <url-pattern>/sc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.servlet.advanced.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/lg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.servlet.advanced.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/lo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>com.servlet.advanced.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/pf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hidden</servlet-name>
    <servlet-class>com.servlet.advanced.HiddenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hidden</servlet-name>
    <url-pattern>/hn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hiddenwelcome</servlet-name>
    <servlet-class>com.servlet.advanced.HiddenView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hiddenwelcome</servlet-name>
    <url-pattern>/hw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>urlwriting</servlet-name>
    <servlet-class>com.servlet.advanced.UrlWriting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlwriting</servlet-name>
    <url-pattern>/uw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>geturlwriting</servlet-name>
    <servlet-class>com.servlet.advanced.GetUrlWriting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>geturlwriting</servlet-name>
    <url-pattern>/guw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginwithsession</servlet-name>
    <servlet-class>com.servlet.advanced.LoginSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginwithsession</servlet-name>
    <url-pattern>/lws</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profilewithsession</servlet-name>
    <servlet-class>com.servlet.advanced.ProfileSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profilewithsession</servlet-name>
    <url-pattern>/pfs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutwithsession</servlet-name>
    <servlet-class>com.servlet.advanced.LogoutSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutwithsession</servlet-name>
    <url-pattern>/lows</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>save</servlet-name>
    <servlet-class>com.servlet.crud.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>save</servlet-name>
    <url-pattern>/vs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>view</servlet-name>
    <servlet-class> com.servlet.crud.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view</servlet-name>
    <url-pattern>/wv</url-pattern>
  </servlet-mapping>
  <!-- Edit   -->
    <servlet>
    <servlet-name>Edit</servlet-name>
    <servlet-class> com.servlet.crud.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/te</url-pattern>
  </servlet-mapping>
  <!--  Update   -->
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class> com.servlet.crud.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/tu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class> com.servlet.crud.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/td</url-pattern>
  </servlet-mapping>
</web-app>